<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<title>MIF</title>
	<link rel="stylesheet" href="frameworks/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="frameworks/angular.js"></script>
	<script src="frameworks/jq.js"></script>
	<script src="frameworks/jqueryui/jquery-ui.js"></script>
	<script src="anguScript.js"></script>
	<script src="jqScript.js"></script>
</head>
<body>
	<div class="container">
		<div class="row left" id="block1">
			<div class="col-sm-4"><img id="logo" src="img/logo.png" alt="Издательство без штанов"></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<input class="form-control" id="search" type="text" placeholder="🔍 Поиск, пожалуй пока не работает...">
			</div>
		</div>

		<div class="row" id="block2">
			<p class="titleHeader">Мы издаём книги - вы их можете не читать</p>
		</div>

		<div class="row" id="block3">
				<div class="col-sm-3">
					<div class="authors">
					<p style="text-align: center;">
						<p><img src="img/authors/1.png" alt="Бендер"></p>
						<p>❮❮Эта книга доказывает ничтожность человеческой массы.❯❯</p>
					</p>
					</div>
					<div class="authors">
					<p style="text-align: center;">
						<p><img src="img/authors/4.png" alt="Бендер"></p>
						<p>В книге чувствуется безысходность и бесполезность</p>
					</p>
					</div>
				</div>
				
				<div id="eyeBox" class="col-sm-6" ng-controller="myCtrl">
					<p style="text-align: center;"><img id="paint" src="img/eye/pupil.png">
					<img src="img/eye/cover{{num}}.png"></p>
				</div>

				<div class="col-sm-3">
					<div class="authors">
						<p><img src="img/authors/2.png" alt="Бендер"></p>
						<p>Книга неправильно переведена на двоичный код</p>
					</div>
					<div class="authors">
						<p><img src="img/authors/3.png" alt="Бендер"></p>
						<p>В каждой книге магнит, который вытягивает вашу мелочь</p>
					</div>
				</div>
		</div>

		<div class="row left" id="block4">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p style="text-align: center; font-size: 25px;">В топ 100 Zoidbergzon.com в разделах "Это правда было так" и "Когнетивный писсонанс"</p>
				<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;"><button id="buyButton" class="btn btn-default btn-lg">Купить за жалкие 1999 Ƶ</button></p>
				<p id="scraffy">Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</p>
				<p style="text-align: center;"><img src="img/founders/1.png" alt="Scraffy"></p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row" id="block5">
			<p class="titleHeader">Самое незаметное издательство</p>
		</div>

		<div class="row" id="block6">
			<div class="col-sm-2"></div>
			<div class="col-sm-8"><p class="middleTitle">Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.</p></div>
			<div class="col-sm-2"></div>
		</div>

		<div class="row" ng-controller="shelfCtrl" id="block7">
			<div class="col-sm-12" id="bookShelf">
				<div class="oneBook" ng-repeat="book in books">
					<img src="{{book.img}}">
					<p style="margin-top: 30px;">{{book.description}}</p>
				</div>
			</div>
			<div class="col-sm-12">
				<p style="text-align: center; margin-top: 50px;"><button id="showBut" class="btn btn-default btn-large" ng-click="booksShow()">Ещё несколько книг</button></p>
			</div>
		</div>

		<div class="row" id="block8">
			<p class="titleHeader">Вы работаете - мы отдыхаем</p>
		</div>

		<div class="row" id="block9">
			<div class="col-sm-2"></div>
			<div class="col-sm-8"><p class="middleTitle">Мы не несем ответственность за изданные книги. Мы выбираем книги случайно и где попало. Наши любимые темы не определены, не глубоки и не интересны. Мы считаем, что краткость. Поэтому мы обходимся двумя словами, чтобы выразить все эмоции и донести смысл.</p></div>
			<div class="col-sm-2"></div>
		</div>

		<div class="row" id="block10">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p class="titles">История названия</p>
				<p>Название издательства «Фрай, без штанов и Бендер» является отсылкой к известному мировому издательству  XXI века «Манн, Иванов и Фербер». После того как издательство смоделировало искусственный интеллект (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве межгалактический совет запретил издавать бумажные книги.</p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row" id="block11">
			<div class="col-sm-4"><img src="img/founders/2.png" alt="Фрай"><img class="twoImg" src="img/founders/6.png" alt="Бендер"></div>
			<div class="col-sm-4"><img src="img/founders/7.png" alt="Скраффи"><img class="twoImg" src="img/founders/3.png" alt="Мутант"></div>
			<div class="col-sm-4 aut"><img src="img/founders/4.png" alt="Робот"><img class="twoImg" src="img/founders/5.png" alt="Капитан"></div>
		</div>

		<div class="row" id="block12">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p style="text-align: left;" class="titles">Основатели</p>
				<p style="font-weight: bold;">Филип Джей Фрай</p>
				<p>В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в «Пиццерии Пануччи». Жизнь у него пустая, его ничего не интересует, кроме, разве что игровых автоматов.</p>
				<p>Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш. Он сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь, и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был заморожен на 1000 лет и был разморожен только 31 декабря 2999 года.</p>
				<p>Позднее, в эпизоде «The Why of Fry», оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай спас вселенную в серии «The Day the Earth Stood Stupid». В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина — девушка: Зубастик заключает с Фраем сделку — Филип помогает защищать Вселенную от грозящих ей в XXXI веке опасностей, а зубастильонцы, в свою очередь, помогают ему добиться взаимности от Лилы.</p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row" id="block13">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p style="font-weight: bold;">Бендер Сгибатель Родригес великий, незаконнособранный</p>
				<p>Бендер Сгибатель Родригез, более известный как Бендер — один из главных персонажей «Футурамы». Он был сделан в Мексике (Тихуана) в 2997 году. Имеет серийный номер 2716057. Бендер пьет большое количество алкоголя, чтобы подзарядить свои топливные элементы. Когда он отрыгивает, из его рта выход огонь. Авантюрист, любит курить сигары. В настоящее время живет с Фраем в квартире.</p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row" id="block14">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p style="text-align: left;" class="titles">Сотрудники</p>
				<p style="font-weight: bold;">Скраффи Скраффингтон</p>
				<p>Скраффи Скраффингтон, или просто Скраффи — уборщик в компании «Планет Экспресс». О нём часто повторяют шутки про то, что он мало взаимодействует с остальным коллективом и многие его просто не помнят или никогда не видели раньше. Также, Скраффи является владельцем 40 тыс. акций «Планет Экспресса», и это больше, чем у остальных сотрудников, поскольку он «больше всех любит свою компанию» (по его словам).</p>
				<p>Скраффи ленив и его обычно можно увидеть в подвале здания штаб «Планет Экспресс», где он читает журнал «Zero-G Jugg» или «National Pornographic» (рус. «Нэшнл Порнографик»). Обычно о себе говорит в третьем лице.</p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row" id="block15">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
			<hr>
			<p id="atention">Сотрудники издательства были не раз замечены в провокациях и совершали бессмысленные действия</p>
			<hr>
			</div>
			<div class="col-sm-2"></div>
		</div>

		<div class="row" id="block16">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p style="font-weight: bold;">Ужасный студень</p>
				<p>Добродушный пришелец, но прибегает к насилию даже при малейшей провокации. Как правило глотает негодяя.</p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row" id="block17">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p style="font-weight: bold;">Калькулон</p>
				<p>Рекламное лицо компании.</p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row" id="block18">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p style="font-weight: bold;">Зепп Бранниган</p>
				<p>Зепп Бранниган (англ. Zapp Brannigan, полное имя Уэбело Зепп Бранниган, англ. Webelo Zapp Brannigan) — персонаж, человек, капитан корабля Нимбус. Питает страстью к Лиле, но она не отвечает взаимностью. Имеет собственного помощника — Кифа. Часто заставляет его делать неприятную работу, например, почесать спинку, намылить Зеппу голову в душе и так далее. Занимает должность генерала в армии.</p>
				<p>Киф ненавидит Зеппа, но вынужден служить ему. Больше всего Киф ненавидит, когда Зепп его просит:— потереть спинку;</p>
				<p>— подать свежее нижнее белье в душ;</p>
				<p>— позвонить в службу доставки парфюма и угрозами об уничтожении  выпросить 99% скидку на любимые духи Зеппа;</p>
				<p>— помыть посуду;</p>
				<p>— передать вон той леди, как Зепп ее сильно желает.</p>
				<p>В остальном Киф доволен службой в Ограниченных Галактических Непобедимых войсках на должности помощника генерала.</p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row" id="block19">
			<div class="col-sm-3"></div>
			<div class="col-sm-6"><p style="text-align: center;"><img src="img/foot.png" alt="Фрай без штанов и бендер"></p></div>
			<div class="col-sm-3"></div>
		</div>


	</div>
</body>
</html>